
body {
	margin-left: -5px;
	margin-top: -5px;
    font-family: 'Droid Sans';
    /*fonts: oswald, arvo, droid sans;*/
}

/*for various sections*/
.logo {
    font-size: 110px;
    background-color: #212121;
    height: 135px;
    width: 50%;
    padding-top: 15px;
    padding-left: 25%;
    text-decoration: bold;
    color: white;
    float: left;
    letter-spacing: 8px;
    min-width: 768px;
}
.logo .sublogo {
    padding-top: 20px;
    margin-top: -125px;

    font-size: 35px;
    color: #E6BE5F;
    font-style: italic;
    float: left;
    padding-left: 40%;
}
.login{
    float: left;
    height: 130px;
    width: 24%;
    min-width: 245px;
    padding-left: 1%;
    padding-top: 20px;
    position: relative;
    overflow: hidden;
    background-color: #212121;
    color: white;    
}     
.nav{
    float: left;
    width: 77%;
    height: 30px;
}
.wpostings{
    border:1px solid black;
    margin: 2px 2px 2px 0px;
    float:left;
    padding: 10px 10px 10px 10px;
    width: 61.5%;
    background-color: #FFF9A8;
}
.nonwpostings{
    border:1px solid black;
    margin: 2px 2px 2px 0px;
    float:left;
    padding: 10px 10px 10px 10px;
    width: 61.5%;
    background-color: #9B9FB9;
}

.left-floater{
    float: left;
}
.right-floater{
    float: right;
}



/*for navigation bar*/

#header {
	width: 59%;
	margin: 0;
	float: left;

}

#navigation {
	height: 47px;
	width: 100%;
	box-shadow: 0px 1px 5px;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

#navigation ul {
	display: inline-block;
	height: 40px;
	width: 100%;
	list-style: none;
	margin: 0;
	float: left;
	padding-left: 0px; 
}

#navigation li {
	float: left;
	font-size: 16px;
	line-height: 40px;
	width: 25%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 3px;
}

#navigation li.selected {
	background: #A3A3A3;
}

#navigation a {
	color: #092f44;
	font-weight: bold;
	text-decoration: none;
}

#navigation a li:hover {
	background: black;
	color: white;
}



