

#header {
	width: 80%;
	margin: 0 auto;
	padding: 40px 0;
	position: relative;
}

#navigation {
	height: 47px;
	width: 80%;
	padding: 0px 0 0 0;
	position: relative;
	bottom: -20px;
	left: 0;
	box-shadow: 0px 1px 5px;
}
#navigation ul {
	background: url(../images/bg-menu.gif) repeat-x;
	display: inline-block;
	height: 40px;
	width: 80%;
	list-style: none;
	margin: 0;
	padding: 4px 8px 4px;
}
#navigation li {
	float: left;
	font-size: 16px;
	line-height: 40px;
	width: 20%;
	margin: 0 5px;
	text-align: center;
}

#navigation li.first {
	margin-left: 0;
	
}
#navigation li.selected {
	background: #ffffff;
}
#navigation a {
	color: #092f44;
	font-weight: bold;
	padding: 0 10px;
	text-decoration: none;
}
#navigation a:hover {
	background: #092f44;
	color: #DDDDDD;
}